//---------------------------------------------colors

$accent_blue: #1e1e1e;
$accent_border: #101010;
$white: #fff;
$white_1: #fafbfc;
$white_2: #ececec;
$blue_1: #41bfef;
$blue_2: #1f8aea;
$blue_3: #eaeaea;
$black: #000;
$black_1: #111;
$gray: #707070;
$dark_gray:#323232;
$dark_gray_1:#383838;
$dark_gray_2:#444;
$green: #00d493;
$green_1: #06d394;
//---------------------------------------------colors###

//---------------------------------------------media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
$point_9: 360px;

$bp: $point_4;
//---------------------------------------------media points###
